h5,
p {
    line-height: 1.5
}

Body {
    scroll-behavior: smooth
}

.no-text-cursor {
    caret-color: transparent
}

@media screen and (min-width:0) {

    body::after,
    body::before {
        content: '';
        position: fixed;
        width: 100%;
        z-index: -1;
        top: 0;
        height: 100%
    }

    #menu,
    .container,
    .iconos-nav,
    .nav-list {
        display: flex
    }

    #menu,
    #sm_icons,
    .iconos-nav,
    .nav-list a {
        color: #f0f8ff
    }

    .header-deco,
    .nav-list {
        left: 0;
        position: absolute
    }

    body {
        /*background-color: #021a34;*/
        font-family: 'Dela Gothic One', cursive;
        color: azure;
        margin: 0;
        overflow-x: hidden
        
    }

    
    body::before {
        left: 0;
        background-image: url(./img/cielo-nocturno-estrellado-azul-blanco.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        background-attachment: scroll;
        opacity: .8
    }
    

    body::after {
        left: 0;
        background: linear-gradient( rgba(2, 26, 52, .7) 100%, rgba(127, 221, 255, .763) 20%);
        mix-blend-mode: multiply;
    }
    

    header {
        position: relative;
        max-width: 100%
    }

    .container {
        align-items: center;
        padding: 1rem 5vw
    }

    .logo {
        width: 4rem;
        margin-left: auto;
        margin-right: calc(15% - 22px)
    }

    #menu {
        font-size: 25px;
        align-items: center;
        margin-right: auto;
        z-index: 10
    }

    .cancion,
    .nav-list {
        flex-direction: column
    }

    .abrir-menu,
    .cerrar-menu {
        border: none;
        background-color: transparent;
        color: #f0f8ff
    }

    .cerrar-menu {
        font-size: 1.8rem;
        cursor: pointer
    }

    .nav-list {
        opacity: 0;
        visibility: hidden;
        align-items: start;
        top: 0;
        height: 100vh;
        background-color: rgba(38, 46, 61, .7);
        backdrop-filter: blur(1rem);
        z-index: 7;
        padding: 1.8rem;
        gap: .4rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        font-family: Poppins, sans-serif
    }

    .nav-list.visible {
        opacity: 1;
        visibility: visible
    }

    .nav-list a {
        text-decoration: none
    }

    ul {
        padding-left: 0
    }

    .iconos-nav {
        width: 5rem;
        justify-content: space-between
    }

    .iconos-nav i {
        font-size: 1.2rem
    }

    #menu:hover,
    #sm_icons:hover {
        color: orange;
        cursor: pointer
    }

    .iconos {
        justify-content: space-between;
        gap: 10px;
        display: none
    }

    .header-deco,
    .video {
        align-items: center;
        overflow: hidden
    }

    #sm_icons {
        font-size: 20px;
        display: none
    }

    .header-deco {
        justify-content: center;
        bottom: -1rem;
        display: flex;
        background: url("./img/header-deco-mobile-02.svg") center center no-repeat;
        width: 100vw;
        height: 50px;
        z-index: 1
    }

    .talentos,
    .video {
        position: relative
    }

    .video,
    .video-frame {
        width: 100%;
        padding: 0
    }

    main {
        padding-top: 2rem
    }

    .der,
    .iz {
        display: none
    }

    .cancion,
    .card-grid,
    .slogan,
    .video,
    footer {
        display: flex
    }

    .video {
        justify-content: center
    }

    .video-frame {
        height: calc(.5625*100vw);
        margin: 0;
        border: none
    }

    iframe {
        z-index: 0
    }

    .slogan {
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem
    }

    .slogan-text {
        text-align: start;
        font-size: clamp(15px, 3vw, 2rem)
    }

    .metronomo,
    .talentos,
    footer {
        text-align: center
    }

    .talentos-deco {
        position: absolute;
        background: url("./img/Main/main-deco-02.svg") center center no-repeat;
        width: 100vw;
        height: 94px;
        top: -28px;
        z-index: 1;
        pointer-events: none
    }

    .line {
        position: absolute;
        top: -60px;
        overflow: hidden;
        width: 100%
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        color: #f0f8ff !important
    }

    .swiper-wrapper {
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
        overflow: hidden
    }

    .card-grid {
        justify-content: center;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
        height: 25rem
    }

    .card {
        height: 70%
    }

    .metronomo {
        padding-top: 50px;
        position: relative
    }

    .metronomo-deco {
        position: absolute;
        background: url("./img/Main/metronomo-deco-02.svg") center center no-repeat;
        width: 100vw;
        height: 100px;
        top: 1rem;
        z-index: 1
    }

    .line2 {
        width: 1000px;
        position: absolute;
        top: -60px;
        padding-bottom: 50px
    }

    .cancion-grid,
    .footer-deco {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative
    }

    .cancion {
        align-items: center;
        justify-content: center;
        position: relative;
        height: 400px;
        width: 200px
    }

    .frame,
    .line3 {
        position: absolute
    }

    .portada img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 100%
    }

    .frame {
        max-width: 180px;
        top: 120px
    }

    .portada {
        border-style: solid;
        border-color: #f0f8ff;
        height: 150px;
        width: 150px;
        border-radius: 100px
    }

    footer {
        margin-top: 30px;
        flex-direction: column;
        justify-content: center
    }

    .footer-deco {
        background: url("./img/Main/metronomo-deco-02.svg") center center no-repeat;
        width: 100vw;
        height: 100px;
        top: 65px;
        transform: scaleY(-1);
        z-index: 1;
        
    }



    .line3 {
        width: 1000px;
        top: 90px
    }
}

@media screen and (min-width:605px) {

    header,
    main {
        position: relative
    }

    .header-deco,
    .svg-overlay {
        position: absolute;
        pointer-events: none
    }

    .metronomo,
    .talentos,
    footer {
        text-align: center
    }

    header {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        height: 5rem
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 calc(10% - 5.5vw)
    }

    .logo {
        width: 5rem;
        margin: 0;
        padding: 0 0 0 18px
    }

    .video-frame,
    li a {
        padding: 0;
        margin: 0
    }

    .iconos-nav {
        display: none
    }

    .iconos {
        width: 5rem;
        height: 30px;
        display: flex;
        align-items: top;
        justify-content: start;
        z-index: 2
    }

    .header-deco,
    main {
        align-items: center;
        width: 100vw
    }

    .sm_icons:hover {
        color: orange;
        cursor: pointer
    }

    .sm_icons {
        color: #f0f8ff;
        font-size: 20px;
        display: block
    }

    .cancion,
    .card-grid,
    .footer-deco,
    .header-deco,
    .svg-overlay,
    footer,
    main {
        display: flex
    }

    a {
        text-decoration: none;
        color: inherit
    }

    .header-deco {
        justify-content: center;
        bottom: -1rem;
        background: url("./img/header-deco-tablet-02.svg") center center no-repeat;
        z-index: 1
    }

    main {
        justify-content: center;
        height: min(400px, 468px);
        padding-top: 2rem
    }

    .video {
        width: min(80%, 650px);
        height: min(calc(.5625*80vw), 368px);
        align-items: center
    }

    .video-frame {
        width: 100%;
        height: 100%;
        border: none;
        z-index: 5
    }

    .svg-overlay {
        top: 6.5%;
        width: min(85%, 720px);
        height: 100%;
        background: url("./img/Main/REPRODUCTOR\ DECO-02.svg") center center no-repeat;
        z-index: 6
    }

    .slogan {
        margin-bottom: 0;
        position: relative;
        padding-top: 10px;
        padding-bottom: 30px
    }

    .slogan-frame {
        position: absolute;
        background: url("./img/slogan-frame-02.svg") center center no-repeat;
        height: calc(100vw + 640px);
        width: min(80%, 730px);
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1
    }

    .slogan-text {
        font-size: clamp(15px, 2.5vw, 2rem);
        padding-right: 18%;
        margin-bottom: 0
    }

    .talentos {
        padding-top: 30px;
        position: relative;
        height: 580px
    }

    .talentos-deco {
        position: absolute;
        background: url("./img/Main/main-deco-mobile--01.svg") center center no-repeat;
        width: 100vw;
        top: 1rem;
        z-index: 1;
        height: 100px
    }

    .line,
    .line2 {
        width: 1000px;
        position: absolute;
        top: -60px;
        padding-bottom: 50px
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        color: #f0f8ff !important
    }

    .swiper-wrapper {
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
        overflow: hidden
    }

    .card-grid {
        justify-content: center;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
        height: 30rem
    }

    .card {
        height: 70%
    }

    .metronomo {
        height: 35rem;
        padding-top: 0
    }

    .metronomo-deco {
        position: absolute;
        background: url("./img/Main/metronomo-deco-tablet-02.svg") center center no-repeat;
        width: 100vw;
        height: 100px;
        top: -2.5rem;
        z-index: 1;
        pointer-events: none
    }

    .cancion-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25rem
    }

    .cancion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 200px;
        overflow-y: hidden
    }

    .frame {
        position: absolute;
        max-width: 155px;
        top: 125px
    }

    .portada {
        border-style: solid;
        border-color: #f0f8ff;
        height: 130px;
        width: 130px;
        border-radius: 100px
    }

    footer {
        height: 12rem;
        flex-direction: column;
        justify-content: center
    }

    .footer-deco {

        background: url("./img/Main/main-deco-mobile--01.svg") center center no-repeat;
        width: 100vw;
        top: 68px;
        z-index: 1;
        height: 100px;
        transform: none;
        
    }

    .line3 {
        width: 1000px;
        position: absolute;
        top: 90px
    }
}

@media screen and (min-width:1110px) {

    .der,
    .iz {
        display: block;
        max-height: 500px
    }

    .metronomo,
    .talentos,
    footer {
        text-align: center
    }

    .logo {
        width: 6rem;
        padding-top: 1rem
    }

    #menu {
        color: #f0f8ff;
        font-size: 30px;
        height: 50px
    }

    #sm_icons {
        color: #f0f8ff;
        font-size: 22px;
        display: block
    }

    .header-deco {
        bottom: -6rem;
        width: 100vw;
        height: 200px;
        z-index: 1;
        pointer-events: none
    }

    main {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        justify-content: center;
        justify-items: center;
        height: 60%;
        position: relative;
        width: 100vw;
        padding-top: 2rem
    }

    .iz {
        grid-column: 1
    }

    .der {
        grid-column: 3
    }

    .cancion,
    .card-grid,
    .footer-deco,
    .slogan,
    .svg-overlay,
    footer {
        display: flex
    }

    .video {
        flex-wrap: wrap;
        align-items: center
    }

    .video-frame {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none;
        z-index: 5
    }

    .svg-overlay {
        position: absolute;
        top: 5.5%;
        width: min(85%, 690px);
        height: 100%;
        background: url("./img/Main/REPRODUCTOR\ DECO-02.svg") center center no-repeat;
        z-index: 6
    }

    iframe {
        z-index: 1
    }

    .slogan {
        line-height: 1;
        position: relative;
        height: 150px
    }

    .slogan-frame {
        position: absolute;
        background: url("./img/slogan-frame-02.svg") center center no-repeat;
        height: calc(100vw + 875px);
        width: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5
    }

    .slogan-text {
        font-size: clamp(15px, 2vw, 2rem);
        padding-right: 18%
    }

    .talentos {
        padding-top: 0;
        position: relative;
        height: 700px
    }

    .talentos-deco {
        position: absolute;
        background: url("./img/Main/main-deco-desktop-02.svg") center center no-repeat;
        width: 100vw;
        top: -2rem;
        z-index: 5
    }

    .line,
    .line2 {
        width: 1000px;
        position: absolute;
        top: -60px;
        padding-bottom: 50px
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        color: #f0f8ff !important
    }

    .swiper-wrapper {
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
        overflow: hidden
    }

    .card-grid {
        justify-content: center;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
        height: 40rem
    }

    .card {
        height: 70%
    }

    .metronomo {
        height: 40rem;
        line-height: 3
    }

    .metronomo-deco {
        position: absolute;
        background: url("./img/Main/metronomo-deco-tablet-02.svg") center center no-repeat;
        width: 100vw;
        top: -2rem;
        z-index: 5;
        pointer-events: none
    }

    .cancion-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30rem
    }

    .cancion {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative
    }

    .frame {
        position: absolute;
        max-width: 155px;
        top: 170px
    }

    .portada {
        border-style: solid;
        border-color: #f0f8ff;
        height: 130px;
        width: 130px;
        border-radius: 100px
    }

    footer {
        height: 12rem;
        flex-direction: column;
        justify-content: center
    }

    .footer-deco {
        background: url("./img/Main/main-deco-desktop-02.svg") center center no-repeat;
        width: 100vw;
        top: 85px;
        z-index: 5
    }

    .line3 {
        width: 1000px;
        position: absolute;
        top: 90px
    }
}

@media screen and (min-width:1280px) {

    #menu,
    #sm_icons,
    .iconos-nav {
        color: #f0f8ff
    }

    header,
    main {
        display: grid;
        position: relative
    }

    .header-deco,
    .nav-list,
    .svg-overlay {
        position: absolute
    }

    .metronomo,
    .talentos,
    footer {
        text-align: center
    }

    body {
        font-family: 'Dela Gothic One', cursive;
        color: azure;
        margin: 0;
        overflow-x: hidden
    }

    body::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear(7.73deg, rgba(0, 18, 55, .781) 10%, rgba(1, 20, 57, .687) 34.74%, rgba(6, 27, 64, .733) 49.13%, rgba(13, 39, 76, .687) 59.77%, rgba(24, 57, 93, .687) 68.55%, rgba(39, 80, 116, .687) 76.19%, rgba(56, 107, 144, .687) 83.04%, rgba(77, 142, 177, .687) 89.3%, rgba(101, 180, 214, .562) 94.92%, rgba(127, 221, 255, .95) 100%);
        z-index: -1
    }

    header {
        grid-template-columns: 1fr;
        align-items: center;
        height: 5rem;
        padding-top: 1rem;
        margin-bottom: 5rem
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 calc(10% - 5.5vw)
    }

    .logo {
        width: 7rem;
        margin: 0;
        padding: 0;
        padding-left: 0 !important
    }

    #menu {
        font-size: 32px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .cancion,
    .nav-list {
        flex-direction: column
    }

    .abrir-menu,
    .cerrar-menu {
        border: none;
        background-color: transparent;
        color: #f0f8ff
    }

    .cerrar-menu {
        font-size: 2.8rem;
        cursor: pointer
    }

    .nav-list {
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: start;
        left: 0;
        top: 0;
        width: 20vw;
        height: 200vh;
        background-color: rgba(38, 46, 61, .7);
        backdrop-filter: blur(1rem);
        z-index: 6;
        padding-left: 4rem;
        gap: .4rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        font-family: Poppins, sans-serif;
        font-size: 1.2rem
    }

    .iconos-nav {
        width: 4rem;
        display: none;
        justify-content: space-between
    }

    #menu:hover,
    #sm_icons:hover {
        color: orange;
        cursor: pointer
    }

    .iconos {
        width: 8%;
        height: 28px;
        display: flex;
        align-items: top;
        justify-content: start
    }

    #sm_icons {
        font-size: 28px;
        display: block
    }

    .header-deco {
        align-items: center;
        justify-content: center;
        bottom: -7rem;
        display: flex;
        background: url("./img/header-deco-tablet-02.svg") center center no-repeat;
        width: 100vw;
        height: 200px;
        z-index: 5;
        pointer-events: none
    }

    .der,
    .iz {
        display: block;
        max-height: 35vw
    }

    main {
        grid-template-columns: 1fr 4fr 1fr;
        justify-content: center;
        justify-items: center;
        height: 60%;
        width: 100vw;
        padding-top: 0
    }

    .iz {
        grid-column: 1
    }

    .der {
        grid-column: 3
    }

    .cancion,
    .card-grid,
    .footer-deco,
    .slogan,
    .svg-overlay,
    footer {
        display: flex
    }

    .video {
        flex-wrap: wrap;
        height: 86%;
        width: 80%;
        align-items: center;
        overflow: hidden
    }

    .video-frame {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: none
    }

    .svg-overlay {
        top: 3%;
        width: 64%;
        height: 100%;
        background: url("./img/Main/REPRODUCTOR\ DECO-02.svg") center center no-repeat;
        z-index: 5
    }

    iframe {
        z-index: 2
    }

    .slogan {
        line-height: 1;
        position: relative
    }

    .slogan-frame {
        position: absolute;
        background: url("./img/slogan-frame-02.svg") center center no-repeat;
        height: calc(100vw + 875px);
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        pointer-events: none
    }

    .slogan-text {
        font-size: clamp(15px, 2vw, 4rem);
        padding-right: 18%;
        margin-top: 0
    }

    .talentos {
        padding-top: 0;
        position: relative;
        height: 800px;
        margin-top: 5rem
    }

    .talentos-deco {
        position: absolute;
        background: url("./img/Main/main-deco-desktop-02.svg") center center no-repeat;
        width: 100vw;
        top: -2rem;
        z-index: 5
    }

    .line,
    .line2 {
        width: 1000px;
        position: absolute;
        top: -60px;
        padding-bottom: 50px
    }

    .swiper-button-next,
    .swiper-button-prev,
    .swiper-pagination {
        color: #f0f8ff !important
    }

    .swiper-wrapper {
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box;
        overflow: hidden
    }

    .card-grid {
        justify-content: center;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
        height: 40rem
    }

    .card {
        height: 70%
    }

    .metronomo {
        height: 40rem;
        line-height: 3
    }

    .metronomo-deco {
        position: absolute;
        background: url("./img/Main/metronomo-deco-tablet-desktop-02.svg") center center no-repeat;
        width: 100vw;
        top: -2rem;
        z-index: 5;
        pointer-events: none
    }

    .cancion-grid {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30rem
    }

    .cancion {
        align-items: center;
        justify-content: center;
        position: relative
    }

    .frame {
        position: absolute;
        max-width: 180px;
        top: 158px
    }

    .portada {
        border-style: solid;
        border-color: #f0f8ff;
        height: 150px;
        width: 150px;
        border-radius: 100px
    }

    footer {
        height: 12rem;
        flex-direction: column;
        justify-content: center
    }

    .footer-deco {
        align-items: center;
        justify-content: center;
        position: relative
    }

    .line3 {
        width: 1000px;
        position: absolute;
        top: 90px
    }
}

h4,
h5 {
    font-family: Poppins, sans-serif
}

h2 {
    font-size: clamp(15px, 3vw - 10px, 30px);
    padding: 0 15px
}

h4 {
    font-weight: 700;
    margin-bottom: 5px
}

h5 {
    font-weight: 400;
    margin: 0
}

p {
    font-size: clamp(15px, 12vw +10px, 70px);
    font-family: Poppins;
    margin: 7vh 12vw 0;
    text-align: center
}


/* Estilos para el elemento de carga */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de todo */
}

.loader {
    border: 4px solid #f3f3f3; /* Borde ligero para el spinner */
    border-top: 4px solid #3498db; /* Borde superior de color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animación de giro */
}

/* Animación de giro */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
